
@use "utilities/variables";
@use "utilities/mixins";

@use "base/base";
@use "base/tipografia";

@use "layout/header";
@use "layout/footer";
@use "layout/nav";

@use "components/buttons";
@use "components/cards";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.presentacion-index {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.servicios-index {
    display: grid;
    grid-template-areas:
        "contenido"
        "imagen";
    gap: 2rem;
    padding: 20px;

    .servicios-contenido {
        grid-area: contenido;
    }

    figure {
        grid-area: imagen;
    }
}

h1 {
    font-size: 2rem;
}

.parrafodetitulo-diferenciado {
    font-size: 1.2rem;
}

p,
.parrafo-diferenciado {
    font-size: 1.1rem;
}

h2 {
    font-size: 1.5rem;
}

figure {
    img {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 768px) {

    h1 {
        font-size: 2.8rem;
    }

    .parrafodetitulo-diferenciado {
        font-size: 1.5rem;
    }

    p,
    .parrafo-diferenciado {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .presentacion-index,
    .galeria-index,
    .galeria-contacto {
        padding: 30px;
    }
}

@media (min-width: 1024px) {

    h1 {
        font-size: 3.5rem;
    }

    .parrafodetitulo-diferenciado {
        font-size: 2rem;
    }

    p,
    .parrafo-diferenciado {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    .presentacion-index {
        padding: 40px;
    }

    .servicios-index {
        grid-template-areas:
            "contenido imagen";
        grid-template-columns: 1fr 1fr;
        padding: 40px;
    }

    .galeria-index,
    .galeria-contacto {
        padding: 40px;
    }
}