footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    font-weight: 600;
    font-size: 1rem;

    nav {
        ul {
            display: flex;
            gap: 20px;
            list-style: none;
        }
    }
}

@media (min-width: 768px) {
    footer {
        padding: 30px 50px;
    }
}

@media (min-width: 1024px) {
    footer {
        padding: 0 90px;
    }
}