.img-home {
    height: 60px;
    width: auto;
}

.titulo-diferente {
    font-size: 1.3rem;
}

@media (min-width: 768px) {
    .img-home {
        height: 75px;
    }

    .titulo-diferente {
        font-size: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .img-home {
        height: 90px;
    }

    .titulo-diferente {
        font-size: 1.8rem;
    }
}