@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

%boton-base {
    border-radius: 20px;
    text-decoration: none;
}

.btn-custom {
    @extend %boton-base;

 display: inline-block;
 margin-top: 15px;
  background-color: $color-principal;
 color: $color-texto-claro;
 border: 2px solid $color-principal;
 padding: 10px 25px;
  font-weight: 600;

    @include transicion();

 &:hover,
  &:focus {
        background-color: $color-fondo;
        border-color: $color-fondo;
        color: $color-texto-oscuro;
        transform: translateY(-3px);
    }

    &:active {
        background-color: $color-texto-oscuro;
        border-color: $color-texto-oscuro;
        color: $color-texto-claro;
        transform: translateY(0);
    }
}